<div class="clearfix"></div>
<div id="cable">

</div>

<div class="clearfix"></div>



<style>
/* Блок */
#cable {

	
    background-image: url(images/cable.png) no-repeat;
     background-size: 100%; /* Современные браузеры */

    height: 50px;
    width: 20pх; 
}	
	
#cable2{

    background-image: url(images/cable2.png) no-repeat;
     background-size: 100%; /* Современные браузеры */

     height: 50px;
    width: 20pх; 
}
#cable3{

    background-image: url(images/cable3.png) no-repeat;
     background-size: 100%; /* Современные браузеры */

     height: 50px;
    width: 20pх; 
}
</style>
