<section class="content">
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title"> Главная</h3>

			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
				<button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
				<button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
			</div>
		</div>
		
		<div class="box-body">
			
			 <div class="col-md-4 col-md-offset-3">
				 <h4>Список полезных ресурсов (Внутренних)</h4>
				 <p><a href="https://teampass.mtrend.ru" target="_blank">teampass.mtrend.ru</a> Сервис хранения паролей</p>
				 <p><a href="http://sf.mtrend.ru" target="_blank">sf.mtrend.ru</a> Сервис хранения файлов (есть десктоп клиент)</p>
				 <p><a href="http://cacti.mtrend.ru" target="_blank">cacti.mtrend.ru</a> Графики</p>
				 <p><a href="http://zabbix.mtrend.ru" target="_blank">zabbix</a> Мониторинг</p>
				 <p><a href="http://log.mtrend.ru" target="_blank">log.mtrend.ru</a> LogAnalyzer</p>
				 <p><a href="http://doc.mtrend.ru" target="_blank">doc.mtrend.ru</a> Документация мануалы</p>
				 <p><a href="http://сonfig.mtrend.ru" target="_blank">сonfig.mtrend.ru</a> Конфигуратор свичей</p>
				 <p><a href="http://10.0.0.1:666" target="_blank">Проверка юр. лиц</a> </p>
				 <p><a href="http://10.0.0.10" target="_blank">DHCP log</a> </p>
				 <p><a href="http://10.0.0.1:666/arpwatch.log" target="_blank">arpwatch log</a> </p>
				 <p><a href="http://10.0.0.2:666/radius.log" target="_blank">radius log</a> </p>
				 
			 </div>
			
			
		</div>
		
		<div class="box-footer"></div>
	</div>
</section>
<script>

</script>


<!-- Уведомление через сервис сторонний
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "6460f136-c116-431f-9ad8-da4aa28d959e",
      autoRegister: false,
      notifyButton: {
        enable: true,
      },
    });
  });
</script>
--
