<div id="topmenu">	
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
        <img style="max-width:60px; border: 4px solid black; margin-top: -7px;"
             src="/images/logo.jpg">
    </a>
      <a class="navbar-brand" href="/">Автоответчик</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li id="button_home" class=""><a href="/">Главная</a></li> 		
	</ul>

      <ul class="nav navbar-nav navbar-right">
    
         <li id="button_login" class=""><a href="/exit">Выход</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
